
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
*.cover
.hypothesis/
.cache
*.log
*.sqlite3
*.db
*.DS_Store
# PyInstaller
*.spec

# VSCode
.vscode/

# macOS
.DS_Store
._*
.AppleDouble
.LSOverride
Icon?
__MACOSX/
