[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
PyPDF2 = "*"
tkeasygui = "*"
pyinstaller = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.12"
